// REGULAR BUTTON
@mixin button($color, $textColor) {
    border: 1px solid $color;
    color: $textColor !important;
    background-color: $color;

    // Light Button
    @if $color !="white" {


        &.active,
        &:focus,
        &:hover {
            color: $textColor !important;
            background-color: darken($color, 10%) !important;
            border-color: darken($color, 10%) !important;
        }

        &:focus,
        &:active {
            box-shadow: 0 0 0 2px rgba($color, 0.5) !important;
        }


        &.outline {
            border-width: 2px;

            &:hover {
                color: $textColor !important;
                border-color: $color !important;
                background-color: $color !important;
            }

            &:focus,
            &:active {
                background-color: darken($color, 20%) !important;
            }
        }

    }


    @if $color !="#f4f5f6" {


        &.active,
        &:focus,
        &:hover {
            color: $textColor !important;
            background-color: darken($color, 10%) !important;
            border-color: darken($color, 10%) !important;
        }

        &:focus,
        &:active {
            box-shadow: 0 0 0 2px rgba($color, 0.5) !important;
        }


        &.outline {
            border-width: 2px;

            &:hover {
                color: $textColor !important;
                border-color: $color !important;
                background-color: $color !important;
            }

            &:focus,
            &:active {
                background-color: darken($color, 20%) !important;
            }
        }

    }

    // Light Button
    @if $color==$white {
        border-color: rgba(0, 0, 0, 0.125) !important;

        &.active {
            color: black !important;
        }
    }

    // Light Button
    @if $color==$light {
        border-color: rgba(0, 0, 0, 0.125) !important;

        &.active {
            color: black !important;
        }
    }

}

// MAKE BUTTONS
@mixin makeButton {

    // REGULAR BUTTON
    @each $color,
    $value in $btn-colors {



        // Light Button
        @if ($value==$light) {
            .btn.#{$color} {
                background-color: $value;
                color: $dark !important;
                border-color: $value !important;

                &:focus,
                &:active,
                &:hover {
                    color: $dark !important;
                    background-color: darken($value, 10%) !important;
                    border-color: darken($value, 10%) !important;
                }
            }

            // Outline
            .btn.#{$color}.outline {
                color: $dark !important;
                background-color: transparent;
                box-shadow: none !important;

                &:focus,
                &:active,
                &:hover {
                    color: $dark !important;
                    background-color: darken($value, 10%) !important;
                    border-color: darken($value, 10%) !important;
                }
            }
        }

        @else {

            // Regular Button
            .btn.#{$color} {
                @include button($value, $white);
            }

            // Regular Outline Button
            .btn.#{$color}.outline {
                color: $value !important;
                background-image: none;
                background-color: transparent;
                box-shadow: none !important;

                &:focus {
                    color: white !important;
                    border-color: darken($value, 10%) !important;
                }
            }
        }

    }

}
